<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<header th:fragment="header">
    <div class="setLanguage">
        <ul>
            <li th:if="${locale != null}" class="activeLanguage" id="activeLang" th:locale="${locale}"></li>
            <li class="setLanguageElement"><a id="langLT">LT</a></li>
            <li class="setLanguageElement"><a id="langEN">EN</a></li>
        </ul>
    </div>
    <nav class="topMenu">
        <ul>
            <li class="topMenuElement"><a href="/" th:text="#{info}"></a></li>
            <li class="topMenuElement"><a href="/devices" th:text="#{devices}"></a></li>
            <li class="topMenuElement"><a href="/monitoring" th:text="#{monitoring}"></a></li>
        </ul>
    </nav>
</header>

<footer th:fragment="footer" class="py-3 my-4">
    <div class="text-center text-muted">Kuriama 2023</div>
</footer>

</body>
</html>