<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Devices</title>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/main.js}" defer></script>
<!--    <script type="text/javascript" th:src="@{/js/devices.js}" defer></script>-->
</head>
<body>
<main>
    <div>
        <form>
            <input>
        </form>
    </div>
    <table class="tb">
        <tr>
            <th>id</th>
            <th>numeris</th>
            <th>komentaras</th>
            <th>data</th>
            <th>klientas</th>
        </tr>
        <tr th:each="device: *{devices}">
            <td th:text="${device.id}"></td>
            <td th:text="${device.vnr}"></td>
            <td th:text="${device.comment}"></td>
            <td th:text="${device.createDate}"></td>
            <td th:text="${device.userId}"></td>
        </tr>
    </table>
</main>
</body>
</html>