<!DOCTYPE html>
<html lang="lt">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Error Page</title>
    <link rel="shortcut icon" href="#">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/main.js}" defer></script>
</head>
<body>
<header th:replace="fragments/fragments.html :: header"> </header>

<main>
    <hr>
    <h3 th:text="#{errorPage}"></h3>
    <hr>
</main>

<footer th:replace="fragments/fragments.html :: footer"></footer>
</body>
</html>