<!DOCTYPE html>
<html lang="lt">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>LogIn</title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/main.js}" defer></script>
</head>
<body>
<header th:insert="fragments/fragments.html :: header"></header>

<main>
    <hr>
    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <form th:action="@{/login}" method="post">
        <div><label> User Name : <input type="text" name="username"/> </label></div>
        <div><label> Password: <input type="password" name="password"/> </label></div>
        <div><input type="submit" value="Sign In"/></div>
    </form>
    <p>Registration <a th:href="@{/registration}">here</a></p>
    <hr>
</main>

<footer th:insert="fragments/fragments.html :: footer"></footer>

</body>
</html>