<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Monitoring</title>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/main.js}" defer></script>
</head>
<body>
<main>
    <div>
        <form th:action="@{/monitoring/run}" method="get" >
            <label>Įrenginio ID:
                <input type="text" th:name="deviceId" required/>
            </label>
            <input value="Stebėti" type="submit"/>
        </form>
    </div>
    <hr>
    <div th:text="${device.transportNr} != null ? 'Stebimas transposrto numeris ' + ${device.transportNr} : ''"></div>
    <table class="tb">
        <tr>
            <th>id</th>
            <th>irenginio id</th>
            <th>data</th>
            <th>latitude</th>
            <th>longitude</th>
            <th>greitis</th>
        </tr>
        <tr th:each="position: *{device.positions}">
            <td th:text="${position.id}"></td>
            <td th:text="${position.device.getDeviceId()}"></td>
            <td th:text="${position.date}"></td>
            <td th:text="${position.latitude}"></td>
            <td th:text="${position.longitude}"></td>
            <td th:text="${position.speed}"></td>
        </tr>
    </table>
</main>
</body>
</html>