<!DOCTYPE html>
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Monitoring</title>

    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="internationalization.js"></script>
    <script type="text/javascript" th:src="@{/js/main.js}" defer></script>
</head>
<body>
<main>
    <div>
        <form th:action="@{/monitoring/run}" method="get">
            <label>Įrenginio ID:
                <input type="text" th:name="deviceId" required/>
            </label>
            <input value="Stebėti" type="submit"/>
        </form>
    </div>
    <hr>
    <div th:text="${device.transportNr} != null ? 'Stebimas transposrto numeris ' + ${device.transportNr} : ''"></div>
    <table class="tb">
        <tr>
            <th th:text="#{id}"></th>
            <th th:text="#{deviceId}"></th>
            <th th:text="#{date}"></th>
            <th th:text="#{latitude}"></th>
            <th th:text="#{longitude}"></th>
            <th th:text="#{speed}"></th>
        </tr>
        <tr th:if="${positions != null}" th:each="position: *{positions}">
            <td th:text="${position.id}"></td>
            <td th:text="${position.device.deviceId}"></td>
            <td th:text="${#temporals.format(position.date, 'yyyy-MM-dd HH:mm:ss:SSS')}"></td>
            <td th:text="${#numbers.formatDecimal(position.latitude, 1, 6)}"></td>
            <td th:text="${#numbers.formatDecimal(position.longitude, 1, 6)}"></td>
            <td th:text="${position.speed}"></td>
        </tr>
    </table>
    <hr>
    <div th:if="${positions.totalPages > 0}" class="pagination"
         th:each="pageNumber : ${pageNumbers}">
        <a th:href="@{/monitoring/list(deviceId=${device.deviceId}, size=${positions.size}, page=${pageNumber})}"
           th:text="${pageNumber + 1}"
           th:class="${pageNumber==positions.number - 1} ? active"></a>
    </div>
</main>
</body>
</html>