<!DOCTYPE html>
<html lang="lt">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Monitoring</title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/main.js}" defer></script>
</head>
<body>
<header th:replace="~{fragments/fragments.html :: header}"></header>

<main>
    <div class="upperDiv">
        <form class="upperForm" th:action="@{/monitoring/run}" method="get">
            <span th:text="#{deviceId} + ':'"></span>
            <input type="text" th:name="deviceId" required/>
            <button type="submit" th:text="#{watch}"></button>
        </form>
    </div>
    <hr>
    <div th:text="${device.transportNr} != null ? 'Stebimas transposrto numeris ' + ${device.transportNr} : ''"></div>
    <table class="tb">
        <tr>
            <th th:text="#{id}"></th>
            <th th:text="#{deviceId}"></th>
            <th th:text="#{date}"></th>
            <th th:text="#{latitude}"></th>
            <th th:text="#{longitude}"></th>
            <th th:text="#{speed}"></th>
        </tr>
        <tr th:if="${positions != null}" th:each="position: *{positions}">
            <td th:text="${position.id}"></td>
            <td th:text="${position.device.deviceId}"></td>
            <td th:text="${#temporals.format(position.date, 'yyyy-MM-dd HH:mm:ss:SSS')}"></td>
            <td th:text="${#numbers.formatDecimal(position.latitude, 1, 6)}"></td>
            <td th:text="${#numbers.formatDecimal(position.longitude, 1, 6)}"></td>
            <td th:text="${position.speed}"></td>
        </tr>
    </table>
    <hr>
    <div class="paginationDiv">
        <div th:if="${positions.totalPages > 1}" class="pagination"
             th:each="pageNumber : ${pageNumbers}">
            <a th:href="@{/monitoring/run(deviceId=${device.deviceId}, size=${positions.size}, page=${pageNumber})}"
               th:text="${pageNumber + 1}"
               th:class="${pageNumber==positions.number} ? active"></a>
        </div>
    </div>
</main>

<footer th:replace="~{fragments/fragments.html :: footer}"></footer>
</body>
</html>