<!DOCTYPE html>
<html lang="lt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Registration</title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/main.js}" defer></script>
</head>
<body>
<header th:replace="~{fragments/fragments.html :: header}"></header>
<main>
    <hr>
    <div class="loginDiv">
        <form class="loginForm" action="#" th:action="@{/registration}" th:object="${user}"
              method="post">
            <section th:if="${validUser} != null" th:text="${!validUser} ? #{userExists}"></section>
            <div>
                <ul>
                    <li th:each="err : ${#fields.errors('username')}" th:text="${err}" class="errorMessage"/>
                </ul>
                <label for="username" th:text="#{UserName} + ':'"></label>
                <input type="text" th:field="*{username}" id="username">

            </div>
            <div>
                <ul>
                    <li th:each="err : ${#fields.errors('email')}" th:text="${err}" class="errorMessage"/>
                </ul>
                <label for="password" th:text="#{Email} + ':'"></label>
                <input type="text" th:field="*{email}" id="email">
            </div>
            <div>
                <ul>
                    <li th:each="err : ${#fields.errors('password')}" th:text="${err}" class="errorMessage"/>
                </ul>
                <label for="password" th:text="#{Password} + ':'"></label>
                <input type="text" th:field="*{password}" id="password">
            </div>
<!--            <div>-->
<!--                <label for="password" th:text="#{confirmPassword} + ':'"></label>-->
<!--                <input type="text" th:field="*{password}" id="confirmPassword">-->
<!--                <ul>-->
<!--                    <li th:each="err : ${#fields.errors('password')}" th:text="${err}" class="error"/>-->
<!--                </ul>-->
<!--            </div>-->

            <div><input type="submit" th:value="#{Register}"/></div>
        </form>
    </div>
    <hr>
</main>

<footer th:replace="~{fragments/fragments.html :: footer}"></footer>
</body>
</html>