<!DOCTYPE html>
<html lang="lt" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Users</title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/main.js}" defer></script>
</head>
<body>
<header th:replace="fragments/fragments.html :: header"></header>

<main>
    <hr>
    <table class="tb">
        <tr>
            <th th:text="#{id}"></th>
            <th th:text="#{name}"></th>
            <th th:text="#{role}"></th>
            <th colspan="2" th:text="#{functions}"></th>
        </tr>
        <tr th:each="user: *{users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.roles}"></td>
            <td>
                <button th:id="${user.id}" th:text="#{edit}" class="deviceEditButton" data-modal="deviceEditDiv"
                        th:paramName='${user.username}'>
                </button>
            </td>
            <td>
                <form action="#" th:action="@{'/users/delete/{id}' (id=${user.id})}" th:method="delete">
                    <input type="hidden" name="_method" value="delete">
                    <button type="submit" th:text="#{delete}"></button>
                </form>
            </td>
        </tr>
    </table>
    <hr>
</main>

<footer th:replace="fragments/fragments.html :: footer"></footer>
</body>
</html>